html{
    font-family: Arial;
}

body{
    margin: 20px 0;
    padding: 0;
    background: #017EFC;
}




/*Top Section*/
#top{
    text-align: center;
    display: inline-block;
    background: #017EFC;
    width: 100%;
}

#header2{
    margin: 30px 30px 0 30px;
}

h2{
    color: white;
    display: inline;
    font-size: 1.65em;
}

#textChange{
    color: #191D20;
}

#top p{
    color: white;
    text-align: center;
    /*float: left;*/
    font-size: 1.1em;
    margin: 20px 30px 30px 30px;
}

#top button{
    height: auto;
    width: 200px;
    color: white;
    text-align: center;
    padding: 15px;
    background: #191D20;
    font-size: 1.25em;
    border: 3px solid #191D20;
    border-radius: 5px;
    margin-bottom: 35px;
}

#mobileImg{
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

#desktopImg{
    display: none;
}



/*Info Section*/
#infoSec{
    background: white;
    margin-top: 0;
    padding: 30px 30px 5px 30px;
}

#infoSec img{
    margin-right: 10px;
    vertical-align: middle;
}

#infoSec h3{
    color: #017EFC;
    margin: 0;
    width: 90%;
}

#infoSec p{
    margin: 10px 0 35px 0;
    font-weight: bold;
}

#startupLith{
    height: 100px;
    background: #017EFC;
}




/*Benefits Section*/
#container{
    background-color: white;
}

#benefitsSec{
    background: white;
    padding: 20px 30px 0 30px;
    margin-bottom: 50px;
}

#benefitsSec h3{
    color: #805DF6;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1em;
}

#benefitsSec h4{
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: #017EFC;
    font-size: 1.3em;
}

#benefitsSec p{
    color: #191D20;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 0.85em;
}

#downIcons{
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto 20px auto;
}

#clipCalc{
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto 20px auto;
}

#clipDone{
    display: none;
}




/*Swipe Section Mobile*/
#swipeSecMob{
    background-color: #FAFAFA;
    padding: 30px;
}

#swipeSecMob img{
    background-color: #017EFC;
    border-radius: 35%;
    height: 50px;
    width: 50px;
    padding: 15px;
    display: block;
    margin: 0 auto 12px auto;
}

#swipeSecMob h4{
    color: #017EFC;
    margin-bottom: 5px;
    text-align: center;
}

#swipeSecMob p{
    margin: 5px 0 30px 0;
    text-align: center;
}




/*Swipe Section Desktop*/
#swipeSecDes{
    display: none;
}

#swipeSecDes{
    background-color: #FAFAFA;
    padding: 30px;
}

#swipeSecDes h4{
    color: #017EFC;
    margin-bottom: 5px;
    text-align: center;
}

#swipeSecDes img{
    background-color: #017EFC;
    border-radius: 35%;
    height: 50px;
    width: 50px;
    padding: 15px;
    display: block;
    margin: 0 auto 12px auto;
}

#swipeSecMob p{
    margin: 5px 0 30px 0;
    text-align: center;
}






/*Review Section*/
#reviewSec{
    text-align: center;
    background-color: white;
    padding: 20px 30px 20px 30px;
}

#reviewSec h5{
    font-size: 1.3em;
}

#reviewSec p{
    margin-bottom: 20px;
}

/*.circles,*/
/*.circles:before,*/
/*.circles:after {*/
/*    border-radius: 50%;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    content: '';*/
/*    display: block;*/
/*    margin: 0 auto 0 auto;*/
/*}*/

/*.circles {*/
/*    background-color: grey;*/
/*    position: relative;*/
/*}*/

/*.circles:before,*/
/*.circles:after {*/
/*    position: absolute;*/
/*}*/

/*.circles:before {*/
/*    left: -50px;*/
/*    background-color: blue;*/
/*}*/

/*.circles:after {*/
/*    left: 50px;*/
/*    background-color: grey;*/
/*}*/

@media only screen and (min-width: 768px) {
    #infoSec{
        padding: 20px 90px 20px 90px;
    }

    #infoSec > p:nth-of-type(1){
        margin-bottom: 25px;
    }

    #infoSec > p:nth-of-type(2){
        margin-bottom: 0;
    }

    #benefitsSec{
        padding: 30px 90px 700px 90px;
    }

    #benefitsSec p{
        font-size: 0.85em;
    }

    #text{
        width: 50%;
        float: left;
        margin-bottom: 100px;
    }

    #text h3{
        text-align: left;
    }

    #text h4{
        text-align: left;
    }

    #text p{
        text-align: left;
    }

    #downIcons{
        margin: 0;
        width: 30%;
        float: right;
    }

    #text2{
        float: right;
        width: 50%;
        margin-bottom: 100px;
    }

    #text2 h3{
        text-align: left;
        margin-top: 95px;
    }

    #text2 h4{
        text-align: left;
    }

    #text2 p{
        text-align: left;
    }

    #clipCalc{
        margin: 0;
        width: 25%;
        float: left;
    }

    #text3{
        width: 50%;
        float: left;
        margin: 50px 0 0 0;
    }

    #text3 h3{
        text-align: left;
    }

    #text3 h4{
        text-align: left;
    }

    #text3 p{
        text-align: left;
    }

    #clipDone{
        display: block;
        width: 30%;
        float: right;
    }
}

@media only screen and (min-width: 874px) {
    #benefitsSec{
        padding-bottom: 750px;
    }
}

@media only screen and (min-width: 922px) {
    #benefitsSec{
        padding-bottom: 850px;
    }

    #text{
        margin-bottom: 150px;
    }

    #text2{
        margin-bottom: 150px;
    }
}

@media only screen and (min-width: 961px) {
    #text2{
        margin-bottom: 150px;
    }

    #text3{
        margin-top: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    /*Top Section*/
    #top{
        text-align: left;
        width: 100%;
    }

    #header2{
        margin: 130px 0 0 120px;
        float: left;
        width: 30%;
    }

    h2{
        float: left;
        color: white;
        margin: 0;
        font-size: 1.6em;
    }

    #textChange{
        color: #191D20;
        margin-left: 10px;
    }

    #top p{
        color: white;
        float: left;
        width: 100%;
        text-align: justify;
        font-size: 1.1em;
        margin: 20px 0 20px 0;
    }

    #top button{
        height: auto;
        width: 200px;
        color: #ffffff;
        text-align: center;
        padding: 15px;
        background: #191D20;
        font-size: 1.25em;
        border: 3px solid #191D20;
        border-radius: 5px;
        margin-bottom: 35px;
    }

    #desktopImg{
        display: block;
        margin-top: 40px;
        float: right;
        width: 50%;
        height: auto;
    }

    #mobileImg{
        display: none;
    }

    #infoSec{
       padding-left: 120px;
       padding-right: 120px;
    }

    #benefitsSec h4{
        font-size: 1.6em;
    }

    #benefitsSec{
        padding-left: 120px;
        padding-right: 120px;
    }

    #swipeSecDes{
        display: block;
        padding: 30px 120px 190px 120px;
    }

    #swipeSecMob{
        display: none;
    }

    #swipeSecDes h4{
        margin-bottom: 5px;
        text-align: center;
    }

    #swipeSecDes p{
        font-size: 0.9em;
        margin: 5px 10px 30px 10px;
        text-align: center;
    }

    #swipeChild{
        width: 33%;
        float: left;
    }

    #swipeChild2{
        width: 33%;
        float: left;
    }

    #swipeChild3{
        width: 33%;
        float: left;
    }
}

@media only screen and (min-width: 1093px) {
    #text{
        margin-bottom: 180px;
    }

    #benefitsSec{
        padding-bottom: 950px;
    }
}

@media only screen and (min-width: 1200px) {
    h2{
        font-size: 1.9em;
    }

    #header2{
        margin: 170px 0 0 150px;
    }

    #text{
        margin-bottom: 150px;
        width: 56%;
    }

    #text2{
        width: 56%;
        margin-bottom: 100px;
    }

    #text3{
        width: 56%;
    }

    #infoSec{
        padding-left: 150px;
        padding-right: 150px;
    }

    #benefitsSec{
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 950px;
    }
}

@media only screen and (min-width: 1222px) {
    #text{
        margin-bottom: 200px;
        width: 50%;
    }

    #text2{
        margin-top: 60px;
        margin-bottom: 200px;
        width: 50%;
    }

    #text2{
        width: 50%;
    }

    #benefitsSec{
        padding-bottom: 1150px;
    }
}

@media only screen and (min-width: 1333px) {
    #text{
        margin-bottom: 250px;
    }
}

@media only screen and (min-width: 1440px) {
    #header2{
        margin: 170px 0 0 200px;
    }

    h2{
        font-size: 2em;
    }

    #infoSec {
        padding: 50px 200px 150px 200px;
    }

    #infoSecAbout{
        float: left;
        width: 45%;
        padding-right: 50px;
    }

    #infoSecFor{
        float: left;
        width: 45%;
        padding-left: 50px;
    }

    #benefitsSec{
        padding-right: 250px;
        padding-left: 250px;
    }

    #text{
        width: 45%;
        margin-bottom: 200px;
    }

    #text2{
        /*margin-top: 350px;*/
        width: 45%;
    }

    #text3{
        width: 45%;
    }

}